@use './mixins' as *;

@import '@fontsource/fira-mono';

// Sideload inter as a fallback font
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/static/fonts/Inter-roman.var.woff2') format('woff2');
	font-named-instance: 'Regular';
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('/static/fonts/Inter-italic.var.woff2') format('woff2');
	font-named-instance: 'Italic';
}

:root {
	--font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
	--font-mono: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	--pure-white: #ffffff;
	--primary-color: #1c1c1c;
	--secondary-color: #bfbfbf;
	--tertiary-color: #edf0f8;
	--accent-color: #99c2e6;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	line-height: 1.5;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

#svelte {
	@include flex($direction: column);
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
}

main {
	@include flex($direction: column);
	flex: 1;
	padding: 1rem;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
}

footer {
	@include flex($direction: column, $justify: center, $align: center);
	font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
	padding: 40px;
	/* border-top: solid 1px rgba(255, 255, 255, 0.1) */
}

@media (min-width: 480px) {
	footer {
		padding: 40px 0;
	}
}

p {
	line-height: 1.5;
	display: block;
	text-align: justify;
	font-family: var(--font-family);
	/* word-break: break-all; */
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.02);
	border-radius: 3px;
	/* box-shadow: 2px 2px 6px rgb(255 255 255 / 25%); */
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

code {
	color: white;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
		margin: 0;
	}
}
